[Unit]

Description=node_exporter
Wants=network-online.target
After=network-online.target

[Service]

User=prometheus
Group=prometheus
Type=simple
ExecStart=/home/node_exporter-1.5.0.linux-amd64/node_exporter

[Install]

WantedBy=multi-user.target
